<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">
    Messages
</a>
<div class="right menu">
    <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
            <% if logged_in? %>
                <a class="item"><%= link_to 'Log out', logout_path, method: :delete %></a>
            <% else %>
                <a class="item"><%= link_to 'Log in', login_path %></a>
            <% end %>
            <a class="item"><%= link_to 'Sign up', signup_path %></a>
        </div>
    </div>
    <div class="item">
        <% if !logged_in? %>
            <%= link_to "Login", login_path, class: "ui primary button" %>
        <% else %>
            <%= link_to "Logout", logout_path, method: :delete, class: "ui primary button" %>
        <% end %>
    </div>
</div>
